body {
	padding-top: 50px; font-size: 12px !important; background-color: rgb(251, 247, 238);
}
h1 {
	margin: 0px 0px 20px; color: rgb(0, 0, 0) !important;
}
h2 {
	color: rgb(0, 0, 0) !important;
}
h2 {
	color: rgb(0, 0, 0) !important;
}
h3 {
	color: rgb(0, 0, 0) !important;
}
h4 {
	color: rgb(0, 0, 0) !important;
}
th {
	color: rgb(0, 0, 0) !important;
}
a {
	color: rgb(25, 101, 186);
}
a:hover {
	color: rgb(9, 77, 153);
}
a.clicktocall {
	color: rgb(51, 51, 51) !important; text-decoration: none !important;
}
.fa-gpsss::before {
	content: "\f0d5";
}
blockquote {
	font-size: 12px;
}
img {
	border: 0px currentColor; border-image: none;
}
label {
	font-weight: normal;
}
div.wrapper {
	margin: 0px auto; width: 990px;
}
div.header_top {
	margin-top: 10px;
}
div.header_top span.header_span {
	color: rgb(0, 0, 0); padding-top: 20px; font-family: serif; font-size: 32px; font-weight: bold; display: inline-block;
}
div.header_logo {
	margin-left: 15px; float: left;
}
div.header_search {
	padding: 10px 0px 50px;
}
div.header_search_form {
	margin: 0px auto; width: 555px; font-size: 12px; float: left;
}
div.header_search_txt {
	width: 330px; text-align: right; margin-top: 7px; float: left;
}
div.header_search_form input[type=text] {
	margin: 0px 0px 0px 10px; width: 284px; display: inline-block;
}
div.header_search_form select {
	width: 160px !important; margin-left: -1px; display: inline-block;
}
div.header_search_form input[type=submit] {
	height: 34px;
}
div.header_search_form button[type=submit] {
	width: 70px;
}
div.header_search_mobile {
	padding: 0px 0px 15px; margin-top: 30px !important;
}
ul.nav a {
	font-size: 12px !important;
}
ul.nav button {
	font-size: 12px !important;
}
nav.navbar-default {
	border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(255, 255, 255) !important;
}
nav.navbar-default ul.dropdown-menu {
	margin-left: -1px;
}
ul.navbar-nav a {
	color: rgb(0, 0, 0) !important; font-size: 12px !important; font-weight: bold; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;
}
ul.navbar-nav .open > a {
	border-right-color: rgb(204, 204, 204) !important; border-right-width: 1px !important; border-right-style: solid !important; background-color: rgb(234, 234, 234) !important;
}
ul.navbar-nav ul.dropdown-menu a {
	font-weight: normal; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
ul.navbar-nav a:hover {
	color: rgb(0, 0, 0) !important;
}
div.navigare {
	color: rgb(153, 153, 153); padding-left: 15px; font-size: 12px;
}
ol.breadcrumb {
	background: none; margin: -10px 0px 5px 10px; padding: 0px;
}
table.table-bordered th {
	background-color: rgb(245, 245, 245);
}
table.table-white {
	background-color: rgb(255, 255, 255);
}
button.btn-limba {
	text-decoration: none !important;
}
button.btn-limba:hover {
	text-decoration: none !important;
}
div.limba_login {
	margin-top: 25px;
}
div.limba_login div.dropdown-menu {
	margin-top: 0px;
}
div.footer {
	padding: 20px 20px 10px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; font-size: 12px; margin-top: 20px; background-color: rgb(255, 255, 255); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
div.footer li {
	margin-bottom: 5px;
}
div.subfooter {
	padding: 20px; text-align: center; color: rgb(153, 153, 153); font-size: 12px;
}
div.subfooter a {
	padding: 5px;
}
img.logo-xs {
	margin: 8px 0px 0px;
}
div.content {
	padding: 15px 0px;
}
div.statix {
	left: 10px; bottom: 430px; display: none; position: fixed;
}
div.statix2 {
	padding: 15px; top: 0px; width: 100%; text-align: center; color: rgb(255, 255, 255); font-size: 17px; font-weight: bold; margin-bottom: 50px; position: absolute; background-image: url("/static/images/bg_black_friday_banner.gif"); background-color: rgb(0, 0, 0);
}
div.statix2 a {
	color: rgb(255, 255, 255); text-decoration: none;
}
div.statix2 a:hover {
	text-decoration: underline;
}
button.navbar-toggle {
	margin-right: 0px;
}
div.panel-filtre {
	margin: 0px; padding: 0px;
}
div.panel-filtru {
	margin: 0px !important; padding: 0px !important; border-radius: 0px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; -webkit-border-radius: 0; -moz-border-radius: 0;
}
div.panel-filtru h4 {
	margin: 0px; padding: 0px;
}
div.panel-filtru h4 a {
	margin: 0px !important; padding: 15px !important; font-size: 14px; display: block;
}
div.panel-filtru h4 a:hover {
	text-decoration: none;
}
div.panel-filtru label {
	font-size: 12px; font-weight: normal;
}
div.panel-filtru div.collapse {
	margin: 0px !important; padding: 0px 15px !important;
}
div.panel-filtru div.collapsing {
	margin: 0px !important; padding: 0px 15px !important;
}
div.panel-heading {
	font-weight: bold;
}
table.tblcontact {
	margin-right: auto; margin-left: auto;
}
table.tblcontact td {
	padding: 2px !important; width: 25%;
}
tr.td_pad_left td {
	padding: 2px 5px 2px 20px !important;
}
label.pret {
	margin: 0px; padding: 0px; font-weight: normal;
}
div.selstatus_xs {
	display: inline-block;
}
div.selstatus_xs_2 {
	display: inline-block;
}
table.selectie_firme_padding td {
	padding: 1px !important;
}
table.table-raport td {
	padding: 2px 8px 3px !important; font-size: 12px;
}
table.table-raport input {
	margin: 3px 0px 0px !important;
}
.tooltip-inner {
	width: 180px; max-width: 180px;
}
li.tab_firma {
	height: 40px !important; margin-right: 5px !important; margin-left: 0px !important;
}
li.tab_firma img {
	margin-top: -2px;
}
li.tab_firma a {
	margin-right: 0px;
}
li.tab_vizibil {
	border-radius: 5px 5px 0px 0px; border: 1px solid rgb(221, 221, 221); border-image: none; background-color: rgb(234, 234, 234); -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0;
}
li.tab_vizibil a {
	border: 0px currentColor; border-image: none;
}
li.tab_vizibil ul.dropdown-menu {
	margin-top: 0px; margin-left: -1px;
}
li.active.dropdown {
	border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
#chart_div {
	margin: 0px auto; width: 50%;
}
div.divpop {
	padding: 4px; border: 2px solid orange; border-image: none; width: 300px; margin-top: 5px; margin-left: 5px; display: inline-block; visibility: hidden; position: absolute; z-index: 1000; background-color: white;
}
nav.nav-brg {
	border-width: 0px 0px 1px !important; border-style: none none solid !important; border-color: currentColor currentColor rgb(204, 204, 204) !important; border-radius: 0px !important; border-image: none !important; margin-top: 0px !important; background-color: rgb(241, 236, 224) !important; -webkit-border-radius: 0; -moz-border-radius: 0;
}
div.important {
	padding: 10px; width: 100%; text-align: center; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; margin-top: -30px; border-bottom-color: rgb(0, 51, 0); border-bottom-width: 1px; border-bottom-style: solid; position: fixed; z-index: 1000; background-color: rgb(0, 153, 0);
}
div.important a {
	color: rgb(255, 255, 255); text-decoration: underline;
}
div.important2 {
	padding: 10px; width: 100%; text-align: center; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; margin-top: 0px; border-bottom-color: rgb(0, 51, 0); border-bottom-width: 1px; border-bottom-style: solid; position: fixed; z-index: 1000; background-color: rgb(255, 0, 0);
}
div.important2 a {
	color: rgb(255, 255, 255); text-decoration: underline;
}
div.callcenter {
	background-position: right; background-image: url("/static/images/callcenter.jpg"); background-repeat: no-repeat;
}
div.comanda_diploma {
	padding: 10px; border-radius: 5px; border: 1px solid rgb(234, 195, 132); border-image: none; left: 40px; top: 40px; width: 200px; position: fixed; background-color: rgb(250, 238, 210); -webkit-border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px;
}
div.comanda_diploma p {
	text-align: center; color: rgb(97, 55, 0); font-size: 17px; font-style: italic; font-weight: bold; margin-bottom: 5px;
}
div.comanda_diploma a.comanda_diploma_tel {
	width: 173px; height: 40px; text-indent: -999px; overflow: hidden; margin-bottom: 5px; display: block; background-image: url("/static/images/comanda_diploma_tel.png");
}
div.comanda_diploma a.comanda_diploma_email {
	width: 173px; height: 40px; text-indent: -999px; overflow: hidden; display: block; background-image: url("/static/images/comanda_diploma_email.png");
}
div.comanda_diploma_online {
	margin: 20px auto; padding: 10px; border-radius: 5px; border: 1px solid rgb(234, 195, 132); border-image: none; left: 20px; top: 20px; width: 600px; background-color: rgb(250, 238, 210); -webkit-border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px;
}
div.comanda_diploma_online p {
	text-align: center; color: rgb(97, 55, 0); font-size: 17px; font-style: italic; font-weight: bold; margin-bottom: 5px;
}
div.comanda_diploma_online a.comanda_diploma_online {
	width: 125px; height: 41px; text-indent: -999px; overflow: hidden; margin-bottom: 5px; display: block; background-image: url("/static/images/comanda_diploma_online.png");
}
div.black_friday_corner {
	top: 0px; right: 0px; position: absolute;
}
div.note {
	font-size: 11px;
}
div.note a {
	font-size: 11px; cursor: pointer;
}
div.note textarea {
	padding: 5px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 100%; height: 100px; max-height: 300px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px; resize: vertical;
}
input.nota_categorie {
	padding: 5px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 100%; margin-bottom: 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px;
}
input.nota_calendar {
	padding: 5px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 90px; margin-bottom: 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px;
}
div.note input {
	margin-top: 5px;
}
div.note_iframe i.nota_i {
	margin-top: 3px; margin-left: 5px;
}
div.note i.note_clear_calendar {
	color: rgb(255, 0, 0); margin-top: 13px; margin-left: -15px; position: absolute; cursor: pointer;
}
div.note_iframe input.btn {
	margin-top: 0px;
}
div.note_iframe input[type=checkbox] {
	margin-top: -3px; vertical-align: middle;
}
img.note_bg_arrow {
	margin-top: -21px; float: right;
}
img.note_1 {
	margin-top: -15px;
}
table.note_tabel td {
	padding: 6px 10px 5px; text-align: left; font-size: 11px; vertical-align: top; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
table.note_tabel th {
	padding: 6px 10px 5px; text-align: left; font-size: 11px; vertical-align: top;
}
div.note_iframe a {
	font-size: 11px;
}
iframe.note_iframe {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) currentColor currentColor; margin: 0px; border-image: none; width: 100%; height: 100px; background-color: rgb(239, 239, 239);
}
div.adauga_nota {
	width: 30%;
}
div.descriere_firma {
	height: 120px; text-align: left; overflow: auto;
}
@media all and (max-width:767px)
{
div.adauga_nota {
	width: 100%;
}
div.navbar-header {
	margin: 0px !important; padding: 0px !important;
}
ul.navbar-nav a {
	border-right-color: currentColor !important; border-right-width: 0px !important; border-right-style: none !important;
}
ol.breadcrumb {
	margin: -10px 0px 5px;
}
tr.td_pad_left td {
	padding: 2px 5px 2px 10px !important;
}
div.selstatus_xs {
	display: block;
}
div.selstatus_xs_2 {
	display: block;
}
li.tab_vizibil ul.dropdown-menu {
	margin-top: 0px; margin-left: -117px;
}
table.table-bilant th {
	font-size: 12px;
}
table.table-bilant td {
	font-size: 12px;
}
#chart_div {
	width: 100% !important;
}
li.tab_vizibil a {
	padding-right: 7px !important; padding-left: 7px !important;
}
div.callcenter {
	background-image: none;
}
nav.navbar-default {
	margin-right: -15px !important; margin-left: -15px !important; border-top-color: currentColor !important; border-right-color: currentColor !important; border-left-color: currentColor !important; border-top-width: 0px !important; border-right-width: 0px !important; border-left-width: 0px !important; border-top-style: none !important; border-right-style: none !important; border-left-style: none !important;
}
body {
	padding-top: 54px;
}
}
@media all and (max-width:992px) and (min-width:768px)
{
div.adauga_nota {
	width: 50%;
}
div.container-fluid {
	margin: 0px !important; padding: 0px !important;
}
div.navbar-collapse {
	margin: 0px !important; padding: 0px !important;
}
nav.navbar-default {
	margin-top: 10px;
}
div.header_search_txt {
	width: 100%; text-align: center; font-size: 20px; margin-bottom: 10px; float: none;
}
div.header_search_form {
	margin: 0px auto; width: 390px; float: none;
}
div.header_search {
	padding: 10px 0px 20px;
}
div.selstatus_xs {
	display: block;
}
.navbar .dropdown:hover .dropdown-menu {
	display: block;
}
.nav-firma .dropdown:hover .dropdown-menu {
	display: block;
}
#chart_div {
	width: 60% !important;
}
li.tab_vizibil {
	height: 40px;
}
div.callcenter {
	background-image: none;
}
}
@media all and (max-width:1199px) and (min-width:993px)
{
div.adauga_nota {
	width: 40%;
}
div.container-fluid {
	margin: 0px !important; padding: 0px !important;
}
div.navbar-collapse {
	margin: 0px !important; padding: 0px !important;
}
nav.navbar-default {
	margin-top: 10px;
}
div.header_top span.header_span {
	font-size: 26px; margin-top: 5px;
}
div.header_search_txt {
	width: 238px;
}
div.selstatus_xs_2 {
	display: block !important;
}
.navbar .dropdown:hover .dropdown-menu {
	display: block;
}
.nav-firma .dropdown:hover .dropdown-menu {
	display: block;
}
#chart_div {
	width: 60% !important;
}
}
@media all and (min-width:1450px)
{
div.statix {
	display: block; z-index: 1000;
}
}
@media all and (min-width:1199px)
{
div.container-fluid {
	margin: 0px !important; padding: 0px !important;
}
div.navbar-collapse {
	margin: 0px !important; padding: 0px !important;
}
nav.navbar-default {
	margin-top: 10px;
}
.navbar .dropdown:hover .dropdown-menu {
	display: block;
}
.nav-firma .dropdown:hover .dropdown-menu {
	display: block;
}
}
@media print
{
a[href]::after {
	content: none !important;
}
div.content {
	width: 1080px;
}
div.descriere_firma {
	height: auto !important;
}
}
.btn-scc {
	text-align: left; overflow: hidden; padding-left: 44px; white-space: nowrap; position: relative; -ms-text-overflow: ellipsis;
}
.btn-scc :first-child {
	left: 0px; top: 0px; width: 32px; text-align: center; bottom: 0px; line-height: 34px; font-size: 1.6em; border-right-color: rgba(0, 0, 0, 0.2); border-right-width: 1px; border-right-style: solid; position: absolute;
}
.btn-lg.btn-scc {
	padding-left: 61px;
}
.btn-lg.btn-scc :first-child {
	width: 45px; line-height: 45px; font-size: 1.8em;
}
.btn-sm.btn-scc {
	padding-left: 38px;
}
.btn-sm.btn-scc :first-child {
	width: 28px; line-height: 28px; font-size: 1.4em;
}
.btn-xs.btn-scc {
	padding-left: 30px;
}
.btn-xs.btn-scc :first-child {
	width: 20px; line-height: 20px; font-size: 1.2em;
}
.btn-scc-icon {
	padding: 0px; width: 34px; height: 34px; text-align: left; overflow: hidden; white-space: nowrap; position: relative; -ms-text-overflow: ellipsis;
}
.btn-scc-icon :first-child {
	left: 0px; top: 0px; width: 32px; text-align: center; bottom: 0px; line-height: 34px; font-size: 1.6em; border-right-color: rgba(0, 0, 0, 0.2); border-right-width: 1px; border-right-style: solid; position: absolute;
}
.btn-lg.btn-scc-icon {
	padding-left: 61px;
}
.btn-lg.btn-scc-icon :first-child {
	width: 45px; line-height: 45px; font-size: 1.8em;
}
.btn-sm.btn-scc-icon {
	padding-left: 38px;
}
.btn-sm.btn-scc-icon :first-child {
	width: 28px; line-height: 28px; font-size: 1.4em;
}
.btn-xs.btn-scc-icon {
	padding-left: 30px;
}
.btn-xs.btn-scc-icon :first-child {
	width: 20px; line-height: 20px; font-size: 1.2em;
}
.btn-scc-icon :first-child {
	border: currentColor; border-image: none; width: 100% !important; text-align: center;
}
.btn-lg.btn-scc-icon {
	width: 45px; height: 45px; padding-right: 0px; padding-left: 0px;
}
.btn-sm.btn-scc-icon {
	width: 30px; height: 30px; padding-right: 0px; padding-left: 0px;
}
.btn-xs.btn-scc-icon {
	width: 22px; height: 22px; padding-right: 0px; padding-left: 0px;
}
.btn-facebook {
	border-color: rgba(0, 0, 0, 0.2); color: rgb(255, 255, 255); background-color: rgb(59, 89, 152);
}
.btn-facebook:hover {
	border-color: rgba(0, 0, 0, 0.2); color: rgb(255, 255, 255); background-color: rgb(48, 72, 123);
}
.btn-facebook:focus {
	border-color: rgba(0, 0, 0, 0.2); color: rgb(255, 255, 255); background-color: rgb(48, 72, 123);
}
.btn-facebook:active {
	border-color: rgba(0, 0, 0, 0.2); color: rgb(255, 255, 255); background-color: rgb(48, 72, 123);
}
.active.btn-facebook {
	border-color: rgba(0, 0, 0, 0.2); color: rgb(255, 255, 255); background-color: rgb(48, 72, 123);
}
.open .btn-facebook.dropdown-toggle {
	border-color: rgba(0, 0, 0, 0.2); color: rgb(255, 255, 255); background-color: rgb(48, 72, 123);
}
.btn-facebook:active {
	background-image: none;
}
.active.btn-facebook {
	background-image: none;
}
.open .btn-facebook.dropdown-toggle {
	background-image: none;
}
.disabled.btn-facebook {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
[disabled].btn-facebook {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
fieldset[disabled] .btn-facebook {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
.disabled.btn-facebook:hover {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
[disabled].btn-facebook:hover {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
fieldset[disabled] .btn-facebook:hover {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
.disabled.btn-facebook:focus {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
[disabled].btn-facebook:focus {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
fieldset[disabled] .btn-facebook:focus {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
.disabled.btn-facebook:active {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
[disabled].btn-facebook:active {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
fieldset[disabled] .btn-facebook:active {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
.active.disabled.btn-facebook {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
[disabled].active.btn-facebook {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
fieldset[disabled] .active.btn-facebook {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(59, 89, 152);
}
.btn-facebook .badge {
	color: rgb(59, 89, 152); background-color: rgb(255, 255, 255);
}
.btn-gpsss {
	border-color: rgba(0, 0, 0, 0.2); color: rgb(255, 255, 255); background-color: rgb(221, 75, 57);
}
.btn-gpsss:hover {
	border-color: rgba(0, 0, 0, 0.2); color: rgb(255, 255, 255); background-color: rgb(202, 53, 35);
}
.btn-gpsss:focus {
	border-color: rgba(0, 0, 0, 0.2); color: rgb(255, 255, 255); background-color: rgb(202, 53, 35);
}
.btn-gpsss:active {
	border-color: rgba(0, 0, 0, 0.2); color: rgb(255, 255, 255); background-color: rgb(202, 53, 35);
}
.active.btn-gpsss {
	border-color: rgba(0, 0, 0, 0.2); color: rgb(255, 255, 255); background-color: rgb(202, 53, 35);
}
.open .btn-gpsss.dropdown-toggle {
	border-color: rgba(0, 0, 0, 0.2); color: rgb(255, 255, 255); background-color: rgb(202, 53, 35);
}
.btn-gpsss:active {
	background-image: none;
}
.active.btn-gpsss {
	background-image: none;
}
.open .btn-gpsss.dropdown-toggle {
	background-image: none;
}
.disabled.btn-gpsss {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
[disabled].btn-gpsss {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
fieldset[disabled] .btn-gpsss {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
.disabled.btn-gpsss:hover {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
[disabled].btn-gpsss:hover {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
fieldset[disabled] .btn-gpsss:hover {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
.disabled.btn-gpsss:focus {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
[disabled].btn-gpsss:focus {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
fieldset[disabled] .btn-gpsss:focus {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
.disabled.btn-gpsss:active {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
[disabled].btn-gpsss:active {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
fieldset[disabled] .btn-gpsss:active {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
.active.disabled.btn-gpsss {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
[disabled].active.btn-gpsss {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
fieldset[disabled] .active.btn-gpsss {
	border-color: rgba(0, 0, 0, 0.2); background-color: rgb(221, 75, 57);
}
.btn-gpsss .badge {
	color: rgb(221, 75, 57); background-color: rgb(255, 255, 255);
}
