/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
.cart > a {
padding: 19px 0 27px 59px;
}
.cart-wrapper {
margin-left: 0px;
}
.sin-con-detail {
padding-left: 109px;
}
.sin-sale-det {
padding-left: 16px;
}
.sale-btn {
right: 14%;
}
.single-item {
width: 184px;
}
.common-home .category-menu-list ul li a {
line-height: 35px;
}
.home-two .category-menu-list ul li a {
line-height: 32px;
}
.home-two .category-menu-list > ul > li.arrow-plus::after {
padding-top: 6px;
}
.home-two .bs-two-detail {
padding-top: 7px;
}
.home-two .best-seller-two .sale-star-two {
padding: 4px 0;
}
.category-menu-list > ul > li.arrow-plus::after {
padding-top: 8px;
}
.single-page-one .single-pro-list-one {
padding-bottom: 20px;
}
.single-page-two .single-pro-list-one {
padding-bottom: 30px;
}
.cart-plus-minus-button {
margin-right: 9px;
}
.home-three .search input {
left: -125px;
position: absolute;
}
.slider-style-one .slider-1 h1, .slider-style-one .slider-2 h1 {
font-size: 56px;
top: 69px;
}
.slider-style-one .slider-1 h2, .slider-style-one .slider-2 h2 {
font-size: 35px;
padding: 10px 20px;
top: 129px;
}   
.slider-style-one .slider-1 h3, .slider-style-one .slider-2 h3 {
top: 199px;
}
.link-slider {
font-size: 14px;
top: 244px;
}  
.home-three .slider-style-one .slider-1 h1, .home-three .slider-style-one .slider-2 h1 {
top: 43px;
}
.home-three .slider-style-one .slider-1 h3, .home-three .slider-style-one .slider-2 h3 {
top: 233px;
}   
.home-three .s-tb {
margin-left: 114px;
}  
.home-three .link-slider {
top: 275px;
}
.home-four .slider-style-one .slider-1 h1, .home-four .slider-style-one .slider-2 h1 {
top: 55px;
}

}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.main-logo {
text-align: center;
}
.header-middle-area .single-item {
width: 184px;
}
.slicknav_menu {
display: block
}
.search-for-mobile {
display: block
}
.common-home .banner-top {
margin: 20px 0 6px;
}
.count-down span {
padding: 6px 6px;
}
span.time-count {
width: 33px;
}
.sale-btn {
right: 27px;
width: 42px;
}
p .new-price {
font-size: 18px;
}
.add-to-cart {
display: block;
margin-bottom: 6px;
}
.social-link {
padding: 0px 27%;
margin-top: 10px
}
.footer-contact-detail-top > p {
padding-top: 10px;
}
.single-footer {
margin-bottom: 42px;
}
.home-four .left-banner-two .banner-top img,
.home-four .left-banner-two .banner-bottom img,
.home-two .left-banner-two .banner-top img,
.home-two .left-banner-two .banner-bottom img {
min-width: auto;
}
.home-two .bs-two-detail {
padding-top: 8%;
}
.home-four .tes-sin-detail-two {
padding: 0 10px;
}
.home-three .sale-description {
margin-top: 15px;
text-align: center;
}
.home-three .search input {
position: absolute;
left: 462px;
}
.home-three .sale-description h3 {
margin-bottom: 5px;
}
.home-three .sale-product-three-content {
padding-top: 8px;
}
.home-three .sale-product-three-content .owl-controls .owl-buttons div {
top: -187px;
}
.single-page-one .page-cat-heading {
margin: 0 0 13px;
}
.single-page-one .sin-con-detail {
display: inline-block;
padding-left: 0;
}
.single-page-one .single-pro-list-one {
padding-bottom: 20px;
}
.single-page-one .single-pro-list-one .name a {
font-size: 17px;
}
.cart-plus-minus-button {
margin-bottom: 15px;
margin-top: 0px;
}
.home-two.single-product .cart-plus-minus-button {
margin-bottom: 8px;
margin-top: 0px;
}
.zoomWindow {
height: 330px !important;
width: 330px !important;
}
.cart-one .cart-page-content label {
width: 189px;
}
.home-three .testimonial-area .border-double,.home-three .sale-product-area .border-double {
width: 96%;
}
.about-info {
margin: 35px 0;
}
.single-product .zoom-slider .owl-controls .owl-buttons div {
top: 18px;
}
.home-three .s-tb {
margin-left: 61px;
}
.home-three .slider-style-one .slider-1 h1, .home-three .slider-style-one .slider-2 h1 {
font-size: 29px;
top: 40px;
}
.home-three .slider-style-one .slider-1 h2, .home-three .slider-style-one .slider-2 h2 {
font-size: 33px;
}
.home-three .slider-style-one .slider-1 h2,.home-three .slider-style-one .slider-2 h2 {
top: 96px;
}
.home-three .slider-style-one .slider-1 h3, .home-three .slider-style-one .slider-2 h3 {
top: 157px;
}
.home-three .link-slider {
top: 190px;
}
.link-slider {font-size: 14px;}
.home-four .s-tb {
margin-left: 50px;
}
.home-four .slider-style-one .slider-1 h1, .home-four .slider-style-one .slider-2 h1 {
top: 36px;font-size: 35px;
}
.home-four .slider-style-one .slider-1 h2,.home-four .slider-style-one .slider-2 h2 {
font-size: 29px;
top: 91px;
}
.home-four .slider-style-one .slider-1 h3,.home-four .slider-style-one .slider-2 h3 {
font-size: 17px;
top: 160px;
}
.home-four  .link-slider {
top: 192px;
}

}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

.common-home .heading-area img {
display: none;
}
.common-home .heading-area > h2 {
margin: 0px;
}
.container {
width: 300px
}
.top-left {
text-align: center;
}
.top-bar-menu > ul > li {
border: none;
margin-left: 12px;
}
.header-middle-area .no-padding {
padding: 0px 15px
}
.main-logo {
text-align: center;
}
.cart-expand {
left: -34px;
width: 269px
}
.cart-wrapper {
display: block;
padding-left: 26px;
}
.matalo-hide {
display: none;
}
.search-for-mobile {
display: block
}
.common-home .padding-for-menu-slider {
margin: 25px 0;
margin-top: 4px;
}
.common-home .banner-top {
margin: 5px 0 6px;
}
.search {
position: absolute;
right: 15px;
top: 0px;
z-index: 5;
}
.search .btn-group-lg > .btn,
.btn-lg {
padding: 18px 23px;
line-height: 27px;
}
.footer-contact-detail-top > p {
padding-top: 10px;
}
.home-three .search input {
position: absolute;
left: -209px;
}
.cart-one .updat {
margin: 10px 0px;
}
.cart-one .cross {
margin-left: 0px;
}
.cart-one .table-responsive .input-group {
margin-left: 13px;
}
.product-table .table td {
border: 0 none !important;
float: left !important;
font-family: "arial";
font-size: 16px;
text-align: left !important;
text-transform: uppercase;
white-space: nowrap !important;
width: 100%;
}
.cart-one .cart-page-content .next-step .input-group {
width: 100%;
}
.product-table .table .input-group {
float: left;
}
det-top {
padding-left: 17%;
}
.add-to-cart {
margin-bottom: 0px;
}
.single-item {
float: none;
margin-top: 11px;
padding-left: 25px;
width: 100%;
}
.social-link {
margin-top: 15px;
padding-left: 10%;
}
.slicknav_menu {
display: block
}
.newsletter-wrapper .subscribe input,
.news-letter-title {
float: none;
}
.tetimonial-sin-area {
text-align: center;
}
.home-three .sale-description {
margin-top: 15px;
text-align: center;
}
.home-three .name {
display: inline-block;
width: 62%;
}
.home-three .sale-description h3 {
margin-bottom: 5px;
}
.home-three .sale-product-three-content {
padding-top: 8px;
}
.home-three .sale-product-three-content .owl-controls .owl-buttons div {
top: -237px;
}
.home-two .right-top-banner-two {
margin-bottom: 25px;
}
.home-two .sale-off-two {
margin-top: 15px;
}
.home-two .search input {
height: 63px;
}
.home-two .btn-default {
background-color: #DF0024;
}
.testimonial-two-contain .image-top > img {
width: 100%;
}
.right-bottom-banner-two .banner-top {
margin-bottom: 30px;
}
.tab-top-index-two .nav.nav-tabs {
margin-bottom: 0px;
}
.nav > li > a {
width: 180px;
}
.home-two .tab-top-index-two .tab-carosel-start .owl-controls .owl-buttons div {
top: -130px;
}
.showing {
padding-bottom: 28px;
padding-top: 0px;
}
.pagination {
margin: 10px 0px;
}
.single-page-one .bread-crumb {
padding: 20px 0 0;
}
.single-page-one.single-page-four .bread-crumb {
padding: 0 0 24px;
}
.single-page-two .single-pro-list-one {
display: block;
}
.zoomContainer,
.single-product .zoom-slider .owl-controls .owl-buttons div {
display: none;
}
.cart-plus-minus-button {
margin-bottom: 16px;
}
.home-four .tab-top-index-two .owl-controls .owl-buttons div {
top: -209px;
}
.home-four .tab-top-index-two.in-four-bot-tab .owl-controls .owl-buttons div {
top: -179px;
}
.home-three .testimonial-area .border-double,.home-three .sale-product-area .border-double{width: 90%;}
.home-two .tab-botton-index-two .tab-carosel-start .owl-controls .owl-buttons div {
top: -189px;
}
.home-three .title-three {
text-align: left;
}
.common-home .testimonial-title h2 {
font-size: 21px;
}
.common-home.banner-area {padding: 25px 0;}
.single-page-one .page-left-banner {margin-top: 15px;
}
.single-page-four .page-left-banner {margin-top: 0px;}
.about-info {margin: 35px 0;}
.about-us .about-heading p {
font-size: 12px;
padding: 0 5px;
}
.about-us .about-heading {
	margin-bottom: 36px;
}
.footer-bottom-area p {text-align: center; font-size: 12px;}
.footer-menu ul {
text-align: center;
margin-top: 10px;
}
.footer-menu ul li {padding: 0 2px;}
.post-share h4, .related-post-content h4 {text-align: center;}
.blog-social-icon li {padding-left: 7px;}
.post-content blockquote {
margin: 20px 5px;
padding: 20px 15px;
}
.single-page-one .single-pro-list-one {
  margin-bottom: 25px;
}
.slider-style-one .slider-1 h1, .slider-style-one .slider-2 h1 {
font-size: 39px;
top: 16px;
}
.slider-style-one .slider-1 h2, .slider-style-one .slider-2 h2 {
font-size: 27px;
padding: 8px 12px;
top: 67px;
}
.slider-style-one .slider-1 h3, .slider-style-one .slider-2 h3 {
font-size: 12px;
top: 125px;
}
.link-slider {
font-size: 11px;
top: 156px;
}
.home-two .slider-style-one .slider-1 h1,.home-two .slider-style-one .slider-2 h1 {
font-size: 28px;
top: 14px;
}
.home-two .slider-style-one .slider-1 h2,.home-two .slider-style-one .slider-2 h2 {
font-size: 25px;
padding: 8px 9px;
top: 45px;
}
.home-two .slider-style-one .slider-1 h3,.home-two .slider-style-one .slider-2 h3 {
font-size: 11px;
top: 94px;
}
.home-two .link-slider {
font-size: 10px;
top: 117px;
padding: 1px 5px;
}
.home-three .s-tb {margin-left: 15px;}
.home-three .slider-style-one .slider-1 h1, .home-three .slider-style-one .slider-2 h1,.home-three .link-slider,.home-three .slider-style-one .slider-1 h2, .home-three .slider-style-one .slider-2 h2,.home-three .slider-style-one .slider-1 h3, .home-three .slider-style-one .slider-2 h3,.home-four .slider-style-one .slider-1 h1, .home-four .slider-style-one .slider-2 h1,.home-four .slider-style-one .slider-1 h2,.home-four .slider-style-one .slider-2 h2,.home-four .slider-style-one .slider-1 h3,.home-four .slider-style-one .slider-2 h3,.home-four  .link-slider{
display: none;
}
.home-three .nivo-controlNav,.home-four .nivo-controlNav {
  display: none;
}
 
    
    

}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.common-home .heading-area img {
  display: block;
}
.common-home .heading-area > h2 {
  margin-left: 72px;
}
.container {
    width: 450px
}
.top-bar-menu > ul > li {
    border: medium none;
    margin-left: 32px;
}
.single-item {

padding-left: 96px;

}
.cart-wrapper {
    display: block;
    padding-left: 0;
    padding-right: 52px;
    text-align: center;
    width: auto;
}
.social-link {
    float: none
}
.data-countdown span {
    background: red
}
.pagination {
    margin: 18px 0 -17px;
}
.home-two .bs-two-detail {
    padding-top: 33px;
}
.home-four .tab-top-index-two .owl-controls .owl-buttons div {
top: -163px;
 }
.home-three .sale-product-three-content .owl-controls .owl-buttons div {
top: -212px;
}
.home-three .testimonial-area .border-double,.home-three .sale-product-area .border-double {
  width: 93%;
}
.home-two .tab-top-index-two .tab-carosel-start .owl-controls .owl-buttons div {
  top: -86px;
}
.home-two .tab-botton-index-two .tab-carosel-start .owl-controls .owl-buttons div {
  top: -147px;
}
.home-three .title-three {
  text-align: center;
}
.footer-menu ul li {padding: 0 10px;}
.footer-bottom-area p {
  font-size: 13px;
}
.blog-social-icon {
  float: none;
}
.blog-social-icon li {
  margin-top: 14px;
  padding-left: 25px;
}
.slider-style-one .slider-1 h1, .slider-style-one .slider-2 h1 {
font-size: 51px;
top: 26px;
}
.slider-style-one .slider-1 h2, .slider-style-one .slider-2 h2 {
font-size: 32px;
top: 79px;
}
.slider-style-one .slider-1 h3, .slider-style-one .slider-2 h3 {
font-size: 17px;
top: 137px;
}
.link-slider {
font-size: 15px;
top: 168px;
}

}
