/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: 96%; padding: 2%; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}

/* Direction Nav */
.flex-direction-nav li a {width: 52px; height: 52px; margin: -13px 0 0; display: block; background: url(theme/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li .next {background-position: -52px 0; right: -21px;}
.flex-direction-nav li .prev {left: -20px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(theme/bg_control_nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}


/*  Responsive Slider
*****************************************/
.responsive-slider.flexslider {
	background: url(themes/hyperion/images/bg_slide.png) repeat 0 0 scroll transparent;
	border: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	border-radius: 0 !important;
	margin-bottom: 0;
	width:100%;
	margin:0 auto;
}
.responsive-slider.flexslider a, .responsive-slider.flexslider a:visited, .responsive-slider.flexslider a:hover {
	text-decoration: none;
	border-bottom: none;
}
.responsive-slider.flexslider .slides img {
	height: auto !important;
	border: none;
	margin: 0 auto;
	padding: 0;
	background: none;
	max-width:100%;
}
.responsive-slider.flexslider .slides, .responsive-slider.flexslider .slides li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.responsive-slider.flexslider .flex-direction-nav, .responsive-slider.flexslider .flex-direction-nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.responsive-slider.flexslider .flex-direction-nav li a {
	width: 40px !important;
	height: 40px !important;
	background: url(../images/slider-nav.png) no-repeat 0 0 !important;
	text-align: left;
	text-indent: -9999em;
	top: 47.5% !important;
	opacity: 0;
	-webkit-transition: all 0.18s ease-out;
	-moz-transition: all 0.18s ease-out;
	-ms-transition: all 0.18s ease-out;
	-o-transition: all 0.18s ease-out;
	transition: all 0.18s ease-out;	
}
.responsive-slider.flexslider:hover .flex-direction-nav li a {
	opacity: .6;
}
.responsive-slider.flexslider .flex-direction-nav li a:hover {
	opacity: 1;
}
.responsive-slider.flexslider .flex-direction-nav li .next {
	background-position: 0 -50px !important;
	right: 20px !important;
}
.flex-direction-nav li .prev {
	left: 20px !important;
}
.responsive-slider.flexslider .flex-control-nav {
	width: 91% !important;
	bottom: 4% !important;
	right: 4.545454545454545%;
	margin: 0;
	padding: 0;
}
.responsive-slider.flexslider .flex-control-nav li {
	margin: 0 0 0 7px !important;
	padding: 0;
}
.responsive-slider.flexslider .flex-control-nav li a {
	width: 14px !important;
	height: 14px !important;
	background: url(../images/slider-nav.png) no-repeat 0 -132px !important;
}
.responsive-slider.flexslider .flex-control-nav li a:hover, .responsive-slider.flexslider .flex-control-nav li a.active {
	background-position: 0 -111px !important;
}
.responsive-slider.flexslider .flex-control-nav li a {
	-webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;	
}
.responsive-slider.flexslider .slide {
	position: relative;
}
.responsive-slider.flexslider .slide .slide-title {
	margin: 0;
	padding: 0;
	display:none;
}
.responsive-slider.flexslider .slide-title a {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 18px;
	line-height: 1.3em;
	color: #fff;
	background: #222;
	background: rgba(0,0,0,.3);
	text-shadow: none;
	margin: 0;
	padding: .5em 1em;
}
.responsive-slider.flexslider .slide-title a:hover {
	color: #fff;
	background: rgba(0,0,0,.5);
}
